# `opencadd.databases.klifs` API

This notebook proposes an updated object-oriented API (skeleton only!) for the `opencadd.databases.klifs` module.

## Module structure

opencadd/
    databases/
        klifs/
            api.py
            remote.py
            local.py
            core.py
            utils.py

## Usage

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from opencadd.databases.klifs_new.api import Session

### Set up session (remote and local)

In [3]:
# Work with remote KLIFS data
remote = Session()
remote.from_remote()

# Work with local KLIFS data
local = Session()
local.from_local("../../opencadd/tests/databases/data/KLIFS_download")

Index(['species', 'kinase', 'pdb', 'alt', 'chain', 'orthosteric_PDB',
       'allosteric_PDB', 'rmsd1', 'rmsd2', 'qualityscore', 'pocket',
       'resolution', 'missing_residues', 'missing_atoms', 'full_ifp', 'fp_i',
       'fp_ii', 'bp_i_a', 'bp_i_b', 'bp_ii_in', 'bp_ii_a_in', 'bp_ii_b_in',
       'bp_ii_out', 'bp_ii_b', 'bp_iii', 'bp_iv', 'bp_v'],
      dtype='object')
Index(['NAME', 'FAMILY', 'GROUPS', 'PDB', 'CHAIN', 'ALTERNATE_MODEL',
       'SPECIES', 'LIGAND', 'PDB_IDENTIFIER', 'ALLOSTERIC_NAME',
       'ALLOSTERIC_PDB', 'DFG', 'AC_HELIX'],
      dtype='object')
KLIFS_download/HUMAN/BMX/3sxr_chainA
KLIFS_download/HUMAN/BRAF/6uuo_chainA

In [4]:
print(remote.session_type)
remote.client

remote

SwaggerClient(http://klifs.vu-compmedchem.nl/api)

In [5]:
print(local.session_type)
local.database

local

,species,kinase.name,structure.pdb,structure.alternate_model,structure.chain,ligand.orthosteric.pdb,ligand.allosteric.pdb,structure.rmsd1,structure.rmsd2,structure.qualityscore,...,structure.bp_iv,structure.bp_v,kinase_all,kinase.family,kinase.group,ligand.orthosteric.name,ligand.allosteric.name,structure.dfg,structure.ac_helix,filepath
0,Human,BMX,3sxr,-,A,1N1,-,0.839,1.967,6.4,...,0,0,[BMX],Tec,TK,N-(2-CHLORO-6-METHYLPHENYL)-2-({6-[4-(2-HYDROX...,-,out-like,in,KLIFS_download/HUMAN/BMX/3sxr_chainA
1,Human,BRAF,6uuo,-,A,QH1,-,0.806,2.028,5.2,...,0,0,[BRAF],RAF,TKL,1-[4-{[1-(3-{[dihydroxy(propyl)-lambda~4~-sulf...,-,in,out-like,KLIFS_download/HUMAN/BRAF/6uuo_chainA

In [6]:
local.database.columns

Index(['species', 'kinase.name', 'structure.pdb', 'structure.alternate_model',
       'structure.chain', 'ligand.orthosteric.pdb', 'ligand.allosteric.pdb',
       'structure.rmsd1', 'structure.rmsd2', 'structure.qualityscore',
       'kinase.pocket', 'structure.resolution', 'structure.missing_residues',
       'structure.missing_atoms', 'structure.ifp', 'structure.fp_i',
       'structure.fp_ii', 'structure.bp_i_a', 'structure.bp_i_b',
       'structure.bp_ii_in', 'structure.bp_ii_a_in', 'structure.bp_ii_b_in',
       'structure.bp_ii_out', 'structure.bp_ii_b', 'structure.bp_iii',
       'structure.bp_iv', 'structure.bp_v', 'kinase_all', 'kinase.family',
       'kinase.group', 'ligand.orthosteric.name', 'ligand.allosteric.name',
       'structure.dfg', 'structure.ac_helix', 'filepath'],
      dtype='object')

### Kinases

Try out functionalities to request kinase data. Show remote and local access in parallel.

#### All kinase groups

In [7]:
remote.kinases.all_kinase_groups()

  kinase.group
0          AGC
1         CAMK
2          CK1
3         CMGC
4        Other
5          STE
6           TK
7          TKL

In [8]:
local.kinases.all_kinase_groups()

  kinase.group
0           TK
1          TKL

#### All kinase families

In [9]:
print(remote.kinases.all_kinase_families().shape)
remote.kinases.all_kinase_families().head()

(144, 1)

  kinase.family
0            A6
1          ABC1
2           AKT
3           ALK
4           AUR

In [10]:
print(local.kinases.all_kinase_families().shape)
local.kinases.all_kinase_families().head()

(2, 1)

  kinase.family
0           Tec
1           RAF

#### All kinase families in a kinase group

In [11]:
print(remote.kinases.all_kinase_families(group='TK').shape)
remote.kinases.all_kinase_families(group='TK').head()

(31, 1)

  kinase.family
0           ALK
1           Abl
2           Ack
3           Alk
4           Axl

In [12]:
print(local.kinases.all_kinase_families(group='TK').shape)
local.kinases.all_kinase_families(group='TK').head()

(2, 1)

  kinase.family
0           Tec
1           RAF

#### All kinase names

In [13]:
print(remote.kinases.all_kinases().shape)
remote.kinases.all_kinases().head()

(1127, 4)

   kinase.id    kinase.name            kinase.name_full species
0        813  4921509C19Rik  RIKEN cDNA 4921509C19 gene   Mouse
1        815  4921509C19Rik  RIKEN cDNA 4921509C19 gene   Mouse
2        814  4921509C19Rik  RIKEN cDNA 4921509C19 gene   Mouse
3        531           Aak1     AP2 associated kinase 1   Mouse
4        277           AAK1     AP2 associated kinase 1   Human

In [14]:
local.kinases.all_kinases()

  kinase.name species
0         BMX   Human
1        BRAF   Human

#### All kinase families in a non-existing kinase group

In [15]:
remote.kinases.all_kinase_families(group='XXX')

Expected type to be dict for value [400, 'KLIFS error: A provided group does not exist.'] to unmarshal to a <class 'abc.Error'>.Was <class 'list'> instead.

In [16]:
local.kinases.all_kinase_families('XXX')

Kinase group XXX not known in local dataset.

#### Kinase by kinase ID

In [17]:
remote.kinases.from_kinase_ids(33)

,kinase.id,kinase.name,kinase.hgnc,kinase.family,kinase.group,kinase.class,species,kinase.name_full,kinase.uniprot,kinase.iuphar,kinase.pocket
0,33,PKCa,PRKCA,PKC,AGC,Alpha,Human,protein kinase C alpha,P17252,1482,MVLGKGSFGKVMLYAIKILCTMVEKRVLALLDPFLTQLHSCYFVME...

In [18]:
remote.kinases.from_kinase_ids(10000)

Expected type to be dict for value [400, 'KLIFS error: An unknown kinase ID was provided'] to unmarshal to a <class 'abc.Error'>.Was <class 'list'> instead.

In [19]:
remote.kinases.from_kinase_ids([1,2,10000])

Expected type to be dict for value [400, 'KLIFS error: An unknown kinase ID was provided'] to unmarshal to a <class 'abc.Error'>.Was <class 'list'> instead.

#### Kinase by kinase name

In [20]:
remote.kinases.from_kinase_names('BMX')

,kinase.id,kinase.name,kinase.hgnc,kinase.family,kinase.group,kinase.class,species,kinase.name_full,kinase.uniprot,kinase.iuphar,kinase.pocket
0,574,BMX,Bmx,Tec,TK,,Mouse,BMX non-receptor tyrosine kinase,P97504,0,KELGNGQFGVVQLVAVKMIEFFQEAQTMMKLSPKLVKFYGVYIVTE...
1,472,BMX,BMX,Tec,TK,,Human,BMX non-receptor tyrosine kinase,P51813,1942,KELGSGQFGVVQLVAVKMIEFFQEAQTMMKLSPKLVKFYGVYIVTE...

In [21]:
remote.kinases.from_kinase_names(['BMX', 'BRAF'])

,kinase.id,kinase.name,kinase.hgnc,kinase.family,kinase.group,kinase.class,species,kinase.name_full,kinase.uniprot,kinase.iuphar,kinase.pocket
0,574,BMX,Bmx,Tec,TK,,Mouse,BMX non-receptor tyrosine kinase,P97504,0,KELGNGQFGVVQLVAVKMIEFFQEAQTMMKLSPKLVKFYGVYIVTE...
1,472,BMX,BMX,Tec,TK,,Human,BMX non-receptor tyrosine kinase,P51813,1942,KELGSGQFGVVQLVAVKMIEFFQEAQTMMKLSPKLVKFYGVYIVTE...
2,509,BRAF,BRAF,RAF,TKL,RAF,Human,"B-Raf proto-oncogene, serine/threonine kinase",P15056,1943,QRIGSGSFGTVYKVAVKMLAFKNEVGVLRKTRVNILLFMGYAIVTQ...
3,575,BRAF,Braf,RAF,TKL,,Mouse,Braf transforming gene,P28028,0,QRIGSGSFGTVYKVAVKMLAFKNEVGVLRKTRVNILLFMGYAIVTQ...

In [22]:
remote.kinases.from_kinase_names(['YYY', 'XXX'])

Kinase YYY: Expected type to be dict for value [400, 'KLIFS error: An unknown kinase name was provided'] to unmarshal to a <class 'abc.Error'>.Was <class 'list'> instead.
Kinase XXX: Expected type to be dict for value [400, 'KLIFS error: An unknown kinase name was provided'] to unmarshal to a <class 'abc.Error'>.Was <class 'list'> instead.

In [23]:
local.kinases.from_kinase_names('BMX')

NotImplementedError: Implement in your subclass!

#### Kinases by kinase names and species

In [ ]:
remote.kinases.from_kinase_names(['EGFR', 'NIK'], 'HUMAN')

In [ ]:
local.kinases.from_kinase_names(['EGFR', 'NIK'], 'HUMAN')